

.head-avatar {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  display: flex;
}


.user_list {
  margin-left: 150px;
  width: 20%;
  height: calc(100vh - 92px);
  background-color:#3B3E49;
  overflow-x: hidden;
  overflow-y: hidden;
  & > ul {
    margin: 0 1rem;
    padding: 0;
  }
}

.interlocutor-info {
  margin-left: 1rem;
  flex-grow: 1;
  min-width: 0;
}

.chatroom_header {
  h1 {
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
  }
  position: sticky;
  z-index: 1000;
  top: 0;
  padding-top: 10px;
  padding-left: 500px;
  background-color:  #EFF3F7
  ;
  display: flex;
  border-radius: 8px;
}



#conversation {
  margin-right: 150px ;
  width: 80%;
  background-color: #EFF3F7;
  height: calc(100vh - 92px);

}

.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: hidden;


}
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

#content {
  width: 100%;
  height: 20vh;
  background-color:#f4f4f4;
}

.interlocutor {
  font-family: "Syne", sans-serif;
  font-weight: bold;
  margin: 0;
 color:  #F6EEF5;
 padding-top: 10px;
}

.chatroom_message {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  margin-top: 3px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7e818a
}

.message {
 margin: 15px;
 padding: 15px;
  .message-container {
    margin-top: 10px;
    position: relative;
    background-color:#58B666;
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    line-height: 25px;
    /*display: inline-block; */
    text-align: left;
    p {
      color: #F6EEF5;
      font-size: 20px;
    }
  }

}

/* .message .triangle{
  position: absolute;
  top: -10px;
  width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
.sender .triangle {
  color: #6FBCED;
  background-color: #6FBCED;
}
.message .message-container .triangle {
  border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
.message .sender .triangle{
  border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
} */

.chatroom_card {
  /* img {
    height: 50px;
    width: 50px;
  } */
  cursor: pointer;
  margin: 1rem auto;
  padding: 0.25rem 0.5rem;
}

.chatroom_card:hover {
  background-color: #5E616A
}

.chatroom {
  max-height: 100%;
  .max-h-70vh {
    max-height: 70vh;
  }
  min-height: calc(100vh - 92px);
}
ul {
  list-style-type: none;
}

.sender  {
  display: flex;
  justify-content: end;
  .message-container {
    background-color:#6FBCED;
  }

}

.chatroom-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
}

.interlocutor-name {
  padding: 15px;
  color: #3C3E49;
}

#date {
 color:#bbb;
}
