#user_list {
  width: 30%;
  height: 80vh;
  background-color: rgb(212, 212, 233);
}

#conversation {
  width: 70%;
  height: 80vh;
  background-color: red;
}

#content {
  width: 100%;
  height: 20vh;
  background-color:green;
}
