.home-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  .gallery {
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: 10rem auto;
    &> ul {
      max-height: 45vh;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      padding: 8px 150px 8px 150px;
      justify-content: space-around;
      justify-items: stretch;
      align-items: stretch;
      grid-template-columns: 200px 200px 200px 200px;
      grid-template-rows: 200px 200px 200px 200px;

    }
    .home-img {
      display: inline-block;
      justify-content: center;
      align-items: flex-end;
      color: white;
      font-size: 18px;
      height: 20vh;
      position: relative;
      flex-grow: 3;
      margin: 8px 8px 8px 8px;
      &> img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: none;
        margin: 0px 0px 0px 0px;
      }
    }
  }
  .overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    text-align: center;
    h3 {
      font-size: 1.25rem;
      font-weight: 100;
    }
    h1 {
      font-size: 3rem;
    }
  }
}

.home-btn {
  padding: 0.75rem 3rem;
  background-color: white;
  transition: all ease 0.35s;
  color: black;
  text-decoration: none;
  display: table;
  margin: 0 auto;
  margin-top: 3rem;
  &:hover {
    background-color: rgba(175, 175, 175, 1);
    text-decoration: none;
    color: black;
  }
}
