@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&display=swap');



.user-banner {

  margin-left: 150px;
  margin-right: 150px;
  border: 1px solid white;
  background-image: fill;
  background-repeat: no-repeat;


  h1{
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Syne', sans-serif;
    flex-direction: row;

    .collab-btn {
      margin-left: 10px;
      font-size: 15px;
      border: none;
      border: 1px solid white;
      border-radius: 4px;
      padding: 8px 24px;
      border-radius: 50px;
      font-weight: bold;
    }
  }

  .add-photo-btn-tags {
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Syne', sans-serif;
    position: relative;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    letter-spacing: 1px;
    flex-direction: row;
    display: inline-flex;
    margin-right: 5px;
  }

  .selected {
    color: black;
    background-color: white;
  }


  .add-photo-btn-user{
    padding: 8px 24px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Syne', sans-serif;
    position: relative;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 8px;
    color: white;
    background-color: black;
    border: 1px solid black;
    letter-spacing: 1px;
    flex-direction: row;
    display: inline-flex;
    margin-right: 10px;
  }

  .add-photo-btn-user-collab{
    padding: 8px 24px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Syne', sans-serif;
    position: relative;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 8px;
    color: black;
    background-color: white;
    border: 1px solid white;
    letter-spacing: 1px;
    flex-direction: row;
    display: inline-flex;
    margin-right: 10px;
  }


  h3, p{
    justify-content: space-evenly;
    color: white;
    flex-direction: row;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 8px 15px;
  }

  .banner-container {

    /* border: 1px solid black; */
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 60px 200px 60px 300px;
    flex-wrap: wrap;
    align-content: center;
  }
}

#nav-tab {
  margin-left: 150px;
  margin-right: 150px;
}

#nav-gallery {
  .nav-link {
    color: grey;
    text-decoration: none;
  }

  .nav-link.active {
    color: black;
  }
}

//SEPARATOR

.photo-behavior {
  ul {
    max-height: 45vh;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 150px 8px 150px;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
  }

  li {
   //permet de zoom sur les photos -- 45vh par default
   height: 40vh;
   flex-grow: 3;
  }

  li:last-child {
    // There's no science in using "10" here. In all my testing, this delivered the best results.
    flex-grow: 10;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: none;
    padding: 8px;
    margin: 0px 0px 0px 0px;
    border-radius: 8px;
  }

  img:hover {
    cursor: pointer;
  }

  // ADVANCED
}
// Portrait

@media (max-aspect-ratio: 1/1) {
  .photo-behavior {
    li {
     height: 30vh;


    }
  }
}

// Short screens

@media (max-height: 480px) {
  .photo-behavior {
    li {
      height: 80vh;
    }
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo-behavior {

    ul {
      list-style-type: none;
      flex-direction: row;
    }

    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}


// test full screen mode onclick




.photo-behavior {

  .user-pic {
    position: relative;

    .dropdown {
      visibility:hidden;
      z-index: 10;
    }

    .favourite {
      visibility:hidden;
      z-index: 10;
    }
  }

  .user-pic:hover {
    .dropdown {
      visibility:visible;
      z-index: 10;
    }

    .favourite {
      visibility:visible;
      z-index: 10;
      position: absolute;
      top: 12px;
      right: 12px;
      height: auto;

      .fa-heart {
        font-size: 20px;
        color: grey;
        transition: ease-out 0.1s;
      }

      .red {
        font-size: 20px;
        color: red;
        transition: ease-in 0.1s;
      }
    }

    .dropdown-item {
      z-index: 10;
      color: black;
      }
  }

  .dropdown {
    position: absolute;
    top: 12px;
    right: 12px;
    height: auto;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .fa-edit {
    font-size: 20px;
    color: white;
  }
}

.collab-pic {
  position: relative;

  .collab-name{
    z-index: 10;
    position: absolute;
    top: 12px;
    left: 12px;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }

  .collab-av1{
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 50px;
    text-decoration: none;
  }

  .collab-av2{
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 12px;
    text-decoration: none;
  }
}
