
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



.user-banner {
  h1{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Syne', sans-serif;
  }

  ol, p{
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
  }
}

//SEPARATOR

.photo-behavior {
  ul {
    max-height: 45vh;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 300px 8px 300px;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
  }

  li {
   //permet de zoom sur les photos -- 45vh par default
   height: 40vh;
   flex-grow: 3;
  }

  li:last-child {
    // There's no science in using "10" here. In all my testing, this delivered the best results.
    flex-grow: 10;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: none;
    padding: 8px;
    margin: 0px 0px 0px 0px;
  }

  // ADVANCED
}
// Portrait

@media (max-aspect-ratio: 1/1) {
  .photo-behavior {
    li {
     height: 30vh;


    }
  }
}

// Short screens

@media (max-height: 480px) {
  .photo-behavior {
    li {
      height: 80vh;
    }
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo-behavior {

    ul {
      list-style-type: none;
      flex-direction: row;
    }

    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}


// test full screen mode onclick
