@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&display=swap');



.user-banner {

  margin-left: 150px;
  margin-right: 150px;
  border: 1px solid black;

  h1{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Syne', sans-serif;
    flex-direction: row;

    .collab-button {
      background-color: white;
      color: black;
      margin-left: 10px;
      font-size: 15px;
    }
  }

  h3, p{
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 78px;
    letter-spacing: 1px;
    font-size: 15px;
    margin: none;
  }

  .banner-container {
    gap: 16px;
    border: 1px solid black;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 60px 150px 60px 150px;
  }
}



//SEPARATOR

.photo-behavior {
  ul {
    max-height: 45vh;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 150px 8px 150px;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
  }

  li {
   //permet de zoom sur les photos -- 45vh par default
   height: 40vh;
   flex-grow: 3;
  }

  li:last-child {
    // There's no science in using "10" here. In all my testing, this delivered the best results.
    flex-grow: 10;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: none;
    padding: 8px;
    margin: 0px 0px 0px 0px;
    border-radius: 8px;
  }

  // ADVANCED
}
// Portrait

@media (max-aspect-ratio: 1/1) {
  .photo-behavior {
    li {
     height: 30vh;


    }
  }
}

// Short screens

@media (max-height: 480px) {
  .photo-behavior {
    li {
      height: 80vh;
    }
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo-behavior {

    ul {
      list-style-type: none;
      flex-direction: row;
    }

    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}


// test full screen mode onclick




.photo-behavior {

  li {
    position: relative;

    .dropdown {
      visibility:hidden;
      z-index: 10;
    }
  }

  li:hover {
    .dropdown {
      visibility:visible;
      z-index: 10;
    }

  .dropdown-item {
    z-index: 10;
    }
  }

  .dropdown {
    position: absolute;
    top: 12px;
    right: 12px;
    height: auto;
  }

  .fa-edit {
    font-size: 20px;
    color: white;
  }
}
