<div>
  <div class="d-flex">

    <div id="user_list">
      <ul>
       <% @chatrooms.each do |chatroom| %>
        <li>
          <%= link_to chatroom.interlocutor(current_user).username, chatroom_path(chatroom) %>
          <%=chatroom.messages.last.content  %>
        </li>

      <% end %>
      </ul>

    </div>


    <div id="conversation"></div>
  </div>

  <div id="content"></div>
</div>
