<div class="navbar-lewagon-home">
  <div class="container">
    <div class="navbar navbar-expand-sm navbar-light">
        <%= link_to feed_path, class: "navbar-brand" do %>
          <div class="text-logo-home">Photocycle</div>
        <% end %>
    </div>
  </div>
</div>
