

<div class="home-container">
  <div class="gallery home-gallery-container" data-controller="grid">
    <ul>
      <% @pictures.shuffle.each do |pic| %>
        <div class="home-img masonry-element">
          <%= cl_image_tag pic.photo.key, style: 'height: 100%;' %>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="overlay">
    <div>
      <h3>Partager et collaborer avec</h3>
      <h1>+10 000 photographes</h1>
      <%= link_to 'Commencer gratuitement →', feed_path, class: 'home-btn' %>
    </div>
  </div>
</div>
