
<div class="feeds-banner">
  <h1>Discover something new</h1>
  <ol>
    <li>
      <div class="wrap-searchbar">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for ?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </li>
  </ol>
</div>


<div class="photo-feed-behavior">
  <ul>
    <% @pictures.shuffle.each do |pic| %>

      <div class="card-category" style="background-image: url(<%= cl_image_path pic.photo.key %>)">
        <% pic.categories.each do |category| %>
          <%= link_to gallery_path(pic.user.username) do %>
            <%= cl_image_tag pic.user.photo.key, class: "avatar"%>
          <% end %>
          #<%= category.name %>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
