<h4>Refused</h4>
            <% @received_refused.each do |collab| %>
              <%= collab.name %>
            <% end %>


<h4>Refused</h4>
            <% @sent_refused.each do |collab| %>
              <%= collab.name %>
            <% end %>
