
<div class="collab-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://leica-camera.com/sites/default/files/styles/hero_content_desktop/public/2022-05/Pre-Owned_Startpage_3840x1780px_Header_darker.jpg?itok=vEPC_BK_);">
    <div class="container">
      <h1>Collaborations</h1>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Galleries</h2>
      <%= render 'collab_galleries' %>

    <div class="col-4">
      <h2>Collab' requests</h2>
        <h4>Received</h4>
          <%= render 'received' %>

      <br><br>

      <h4>Sent</h4>
        <%= render 'sent' %>

    </div>
  </div>
</div>
