.card-collab {
  overflow: hidden;
  width: 60%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 8px;
  margin: 8px 0px;
  border-radius: 4px;
}

.av1 {
  position: relative;
}

.av2 {
  position: absolute;
  top: 4px;
  left: 30px
}

.card-collab-pending {
  overflow: hidden;
  width: 60%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 8px;
  margin: 8px 0px;
  border-radius: 4px;
}
