#gallery_modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Black w/ opacity */
}

#gallery_modal_content {
  width: fit-content;
  margin: 0 auto;
  display: block;
}
