@import "pages/user_feed";

.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-logo {
  font-family: "Syne";
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.navbar-lewagon-home {
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: black;
}

.text-logo-home {
  font-family: "Syne";
  font-size: 24px;
  font-weight: 800;
  color: white;
}
